.info {
	width: 30vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: whitesmoke;
	margin-top: 70px;
}

.player {
	border: 2px solid #f6546a;
	border-radius: 5%;
	padding: .5rem 0;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	width: 10vw;
}